<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true" stopOnError="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="FilmsScrapper Test Suite">
            <directory>tests/FilmsScrapper/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/FilmsScrapper/</directory>
        </whitelist>
    </filter>
</phpunit>